.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    border-bottom: 1px solid #000000;

  
}

.appBar {

        position: fixed;
        /* Фіксоване позиціонування */
        top: 0;
        /* Встановлюємо AppBar у верхній частині екрану */
        width: 100%;
        /* Займає всю ширину батьківського елемента */
        z-index: 1000;
        /* Встановлюємо високий індекс шару для AppBar, щоб він був поверх інших елементів */
        /* Додаткові стилі за вашими потребами */
}