.link {
    display: inline-block;
    text-decoration: none;
    /* padding: 12px; */
    font-weight: 700;
    color: #f7f4f4;
 
}

.link.active {
    color: #e84a5f;
}

.button {
    margin-right: 10px;
}